
h2 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.body {
    position: absolute;
    top: 500px;
}
.seasons {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 7px;
    margin-bottom: 100px;
}

button {
    border: solid black 2px ;
    margin-right: 55px;
    padding: 10px 45px;
}
